.lecture_setting_con{
    
    .new_setup_btn{
        margin: 20px 20px 0px 20px;
    }
    .content_con{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        .content_con_left{  
            display: flex;
            justify-content: flex-start;
            .content_con_left_img_con{
                margin-right: 8px;
                width: 260px;
                height: 180px;
                position: relative;
                .content_con_left_img_tag{
                    position: absolute;
                    right: 6px;
                    top: 0;
                    color: #fff;
                }
            }
            .content_con_left_total_con{
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .content_con_left_doctor_con{
                    display: flex;
                    align-items:center;
                }
            }
        }
        .content_con_right{
            display: flex;
            padding: 10px 0px;
            justify-content: space-between;
            flex-direction: column;
        }
    }
}
