.con{
    width: 80vw;
    position: relative;
    margin: 0 auto;
    .ant-input-suffix{
        margin-right: 8px !important;
    }
    h1{
        text-align: center;
        padding-top: 22vh;
        padding-bottom: 32px;
    }
    .ant-form {
        font-size: 24px;
        .ant-row{
            .ant-form-item-required , .ant-form-item-explain {
                font-size: 16px;
            }
          
            margin-bottom: 30px;
            .ant-col-8 {
                flex: 0 0 33.33333333%;
                line-height: 3.5715 !important;
            }
            .ant-input-affix-wrapper{
                padding: 0px;
            }
            input{
                height: 48px;
                padding: 4px 11px;
                font-size: 16px;
            }
            .ant-form-item-control-input-content{
                max-width: 60%;
                position: relative;
                .ant-btn-primary{
                    position: absolute;
                    right: 0px;
                    height: 48px;
                    padding: 6px 18px;
                }
            }

        }
    }

}